HORIZON_URL=https://horizon-testnet.stellar.org
STELLAR_SECRET=S...
STELLAR_LOCK_ADDRESS=GDZK3WRAE6KE7GORNCDAOJFJ2MLEMM3RY4F46UZCPN6W3L7D5AXHBYX6
# RPC_URL=http://127.0.0.1:8545
# PRIVATE_KEY=0x...
WXLM_ADDR=0x4110a7480e9dF63685A7d00fd5C3D308a12b4392
STAKING_ADDR=0x0dfe1b0773d2CcB1c352126081f6e32935C8570E
AMOY_RPC_URL=https://rpc-amoy.polygon.technology
AMOY_PRIVATE_KEY=0x4...
INTENT_AMOUNT=20